{% extends 'base.html' %}
{% block content %}
<div class="myform">
    <div class="error" >
        {% if form.errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <center><input class="form-control" name=token type="text" placeholder="Token" required></input></center><br>
        <center><button class="btn btn-primary">Download CSV</button></center>
    </form>
</div>
{% endblock content %}

