{% extends 'base.html' %}
{% block content %}
<div class="error">
		{% if form.errors %}
	          {{ form.non_field_errors }}
	  {% endif %}
</div>
<div class="bg">
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <p type="Enter the Token:"><br><input name="token" class="myinp1" type="text" placeholder="Token" required></input></p><br>
        <center><button class="btn btn-primary">Download CSV</button></center>
    </form>
</div>
{% endblock content %}

