{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
    {% comment %} <div class="bg"> {% endcomment %}
        <br>
        <br>
        <br>
        <div class='myform'>
            <center><h1>Register</h1></center>
            <form action="" method="POST">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Register</button>
                {% endbuttons %}
            </form>
            {{ form.media }}
        {% comment %} </div> {% endcomment %}
    </div>
{% endblock content %}