{% extends 'base.html' %}


{% block content %}
        {% comment %} <div class="row">
        {% for event in events%}
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title" class="font-weight-bold">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
            </div>
            </div>
            <br/>
        </div>
        {% endfor %}
        </div> {% endcomment %}
        <div class="bg">
            <br>
            <br>
            <div class="container">
            <br>
            {% for event in events%}
            <div class="card text-center">
            <div class="card-body bg">
            <h4 class="card-title">{{ event.title }}</h4>
            <p class="card-text">{{ event.description }}</p>
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
            </div>
            </div>
            <br>
            {% endfor %}
            </div>
        </div>
{% endblock content %}