{% extends 'base.html' %}


{% block content %}

<!-- For Banner-->
        <div class="message container">
           {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <section id="banner" class="container-fluid ">
                <div class="col-12">
                    <div id="content" class="jusify-content-center">
                        <h1>The Coding & Electronics Club</h1>
                        <h3>Challenging Minds</h3>
                        <p>
                            <a id="niet" href="http://www.niet.co.in">NIET GR NOIDA</a>
                        </p>
                        <a href="#about" class="btn btn-outline-success btn-lg" role="button">Get Started</a>
                    </div>
                </div>
        </section>
    </div>
 
 <!--About Us-->

    <section id="about" class="container-fluid ">
        
        <div class="row align-items-center text-center justify-content-center">
            <div id="headingGroup" class="col-lg-12 text-center">
                <h2>About Us</h2>
            </div>
            <div class="section-title-divider"></div>
        </div>
    
        <div class="row align-items-center justify-content-center">

            <div id="who" class="col-md-6 text-center">
                <div id="ex">
                    <div id="ques1" class="text-center ">
                        <h3>What is the CodeTronics club ?</h3>
                    </div>
                    <p>We are bringing <b>CodeTronics</b>, much more than a club, where we all together will learn and play with the codes and the electronics with the core thought of <b>innovating ideas</b>. Let's join the different face of Code & Electronics.
                        Let's join CodeTronics.</p>
                    <p>Revolution is happening in front of your eyes Coding and circuit designing is the base of every <b>smart technology</b> you see in front of you. With "Code Tronics " - <b>an initiative taken by the ECE department of NIET</b>, we wish
                        to make you the part of that same revolution. <b>Our mission is to develop the interest of coding and circuit designing in every possible student within our reach so that YOU can cultivate the ideas and thrive off that creativity and impulse</b>                        .So be a part of this revolution or be a spectator forever.</p>
                </div>
                <div id="what ">
                    <div id="ques2" class="align-items-center ">
                        <h3> What do We do?</h3>
                    </div>
                    <p>We aim to organise two events in a month. One for coding other for electronics.Events include various <b>Competitions,seminars,Quizzes,talks.</b> </p>
                 </div>
            </div>
            <div id="misvis" class="col-md-6 text-center">
                <div id=" vision ">
                    <div id="vis" class="text-center ">
                        <h3>VISION</h3>
                    </div>
                    <p>Electronics is no more just a component in modern technology; it is the basis of assessment of a country’s progress. It is one of the most <b>knowledge-intensive and dynamic fields of study</b>. It is the field that is most crucial
                        to tackling national problems of <b>illiteracy, healthcare and safety</b> which imparts it with tremendous potential in India.</p>
                    <p> With the knowledge of this fact,CodeTronics, NIET, endeavors to create a community of students driven by a <b>passion for electronics and innovation</b> by acting as a means for them to learn and challenge what they have learnt. We
                        aim to turn students into <b>visionaries</b> who can create a better society with their <b>love for technology</b>.
                    </p>
                 </div>

                <div id="mission ">
                    <div id="mis" class="text-center ">
                        <h3>MISSION</h3>
                    </div>
                    <p> Our mission is to enhance the <b>coding and circuit designing skills </b> and develop the interest among the students for the coming future technology in the field of <b> IT and Electronics</b></p>
                 </div>
            </div>
        </div>
    </section>

  <!--Icons-->

    <section id="icons" class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <a href="https://github.com/c0detr0nics"><i class="fab fa-github"></i></a>
                <a href="https://instagram.com/codetronicss?igshid=1q6csfij2xbz0"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Codetronics-114815803231632/"><i class="fab fa-facebook"></i></a>
                <a href="mailto:cncclub@outlook.com"><i class="far fa-envelope"></i></a>
             </div>
        </div>
    </section>
      
  <!--Contact-->

    <section id="contact" class="container-fluid">
        <div class="row align-items-center text-center justify-content-center">
            <div id="headingGroup" class="col-lg-12 text-center">
                <h3 style="color:aliceblue; padding-top: 0.5rem;padding-bottom: 0.5rem">Contact Us</h3>
            </div>
        <div class="section-title-divider"></div>
        </div>
        <div class="row ">
            <div class="col-md-4 order-2 order-sm-1 text-center align-items-center">
                        <h5 class="card-title">Harsh Choudhary</h5>
                        <p class="card-text">Event Manager</p>
                        <a href="https://facebook.com/harsh.hkc1006"><i class="fab fa-facebook"></i></a>
                        <a href="https://instagram.com/theharsh_99?igshid=1865x7skoi007"><i class="fab fa-instagram"></i></a>
                        <a href="mailto:sps3632@gmail.com"><i class="far fa-envelope"></i></a>                  
            </div>
            <div class="col-md-4 order-1 order-sm-2 text-center align-items-center ">
                        <h5 class="card-title">Ashutosh Kumar Singh</h5>
                        <p class="card-text">Mentor</p>
                        <a href="mailto:ashutoshkumarsingh@niet.co.in"><i class="far fa-envelope"></i></a>
                    
            </div>
            <div class="col-md-4 order-3 order-md-3 text-center align-items-center text-center">
                
                        <h5 class="card-title">Ambuj  Tiwari</h5>
                        <p class="card-text">Event Manager</p>
                        <a href="https://facebook.com/profile.php?id=100026465687529&ref=content_filter"><i class="fab fa-facebook"></i></a>
                        <a href="https://instagram.com/admirable_ambuj?igshid=5rm3gupg5gku"><i class="fab fa-instagram"></i></a>
                        <a href="mailto:aspireambuj97@gmail.com"><i class="far fa-envelope"></i></a>
            </div>
        </div>

        <!--footer-->

        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="credits" style="padding-bottom:0.5rem">
                        Developed by CodeTronics club NIET
                    </div>
                    <div class="copyright">
                        © Copyright <strong>CodeTronics © 2019 </strong>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>


{% endblock content %}