* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #192024;
  font-family: "nunito", sans-serif;
  height: 100%;
}

#mainNavbar {
  font-size: 1.4rem;
  font-weight: 200;
}

#mainNavbar .navbar-brand {
  color: #00e676;
  font-size: 2rem;
  font-weight: 400;
}

#mainNavbar .nav-link:hover {
  color: #f06292;
}

.bg {
  background: url(codetronics-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#banner {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  padding-top: 5.5vw;
  vertical-align: middle;
}

#banner h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

#banner h3 {
  color: #00e676;
  padding-top: 0.8rem;
  font-weight: 600;
  font-size: 2.8rem;
}

#content a {
  color: #ffffff;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-decoration: none;
}

#niet:hover {
  color: #f06292;
}

#banner a {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#about {
  color: antiquewhite;
  padding-top: 2.1rem;
}

#headingGroup h2 {
  color: #00e676;
  padding-top: 0.4rem;
  font-size: 3.5rem;
  font-weight: 600;
}

#ques1 h3,
#mis h3,
#vis h3,
#ques2 h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #f06292;
}

#who b,
#misvis b {
  color: #00e676;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03c4eb;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

#icons i {
  color: #00e676;
  font-size: 2.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 2.2rem;
  padding-bottom: 2.5rem;
}

.myform {
  max-width: 540px;
  margin: 0 auto;
  color: #ffffff;
}

.card-body {
  color: #ffffff;
}

.btn {
  min-width: 150px;
  color: #ffffff;
}

.message {
  color: #ffffff;
  padding-top: 4vw;
}

#contact {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: antiquewhite;
  background: url(contact-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact .section-title-divider {
  width: 50px;
  height: 3px;
  background: #03c4eb;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

.card-text {
  color: #00e676;
}

#contact i {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  font-size: 1.5rem;
  color: #f06292;
}

#footer {
  padding-top: 1.5rem;
  color: #ffffff;
}

.blog-text {
  color: #000000;
}
